.category-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.category {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #0000ff;
}

h2 {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.add-team-button {
  margin-top: 10px;
}

.add-category-button {
  margin-top: 20px;
  align-self: flex-start;
}
