<div class="app-container">

<header>
  <mat-toolbar color="primary" *ngIf="!isHomePage">
    <span routerLink="/" class="logo">SWGOH</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <button mat-button routerLink="/team-planner">Team Planner</button>
      <button mat-button routerLink="/farming-plans">Farming Plans</button>
      <button mat-button routerLink="/character-farming">Character Farming</button>
      <button mat-button routerLink="/ships">Ships</button>
      <button mat-button routerLink="/conquest-planner">Conquest Planner</button>
    </div>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>

</div>