<div cdkDropListGroup class="team-planner">
  <div class="team-planner-left">
    <app-category-list
      [categories]="state.categories"
      [isUnique]="state.isUnique"
      (addCategory)="addCategory()"
      (addTeam)="addTeam($event)"
      (teamUpdate)="onTeamUpdate($event)">
    </app-category-list>
    <button mat-raised-button color="primary" (click)="toggleUnique()">Toggle Unique</button>
  </div>

  <div class="team-planner-right">
    <app-unit-selection
      [units]="state.units"
      [isUnique]="state.isUnique"
      (unitSelected)="onUnitSelect($event)"
      (drop)="onDrop($event)">
    </app-unit-selection>
  </div>
</div>
