<div class="team-planner-container">
  <mat-card class="character-list">
    <mat-card-header>
      <mat-card-title>All Characters</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <cdk-virtual-scroll-viewport itemSize="{{itemSize}}" class="character-scroll" (scrolledIndexChange)="loadNextBatch()">
        <div class="character-grid">
          <div *ngFor="let unit of displayedUnits" class="character-item">
            <app-character [unit]="unit" [characters]="gameDataStore.characters"></app-character>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
      <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>
